body {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.sm-txt {
  font-size: 13px;
}

.mg-rgt {
  margin-right: 10px;
}

.mg-bth {
  margin: 0px 10px;
}

.mg-lft-a {
  margin-left:auto;
}
