nav {
  position: relative;
  z-index: 99999;
}

#home {
  position: relative;
  z-index: 1;
  scroll-behavior: smooth;
}

#container {
  width: 1000px;
  
}

/* =============================================================

                          NAVBAR

=============================================================*/

nav {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 60px;
  //display: flex;
  line-height: 60px;
  border-bottom: 1px solid rgb(245, 245, 245);
  font-size: 14px;
}

.navbar {   
  display: flex;
  padding: 0 200px;
  min-width: 850px;
}

.menus { 
  display: flex;
  margin-left: auto;
}

.menu {
  margin: 0 10px;
}

.menu .clicked {
  color: rgb(110, 168, 196) !important;
}

.menu-item {
  cursor: pointer;
}

.search {
  margin-left: 25px;
  position: relative;
}

.search-input {
  background-color: rgb(241, 241, 241);
  border: 1px solid rgb(241, 241, 241);
  border-radius: 8px;
  padding: 8px 20px;
  width: 220px;
  font-size: 13px;
}

.search-input:focus {
  outline: 2px solid rgb(161, 201, 221);
}

.search .icon {
  color: rgb(155, 155, 155);
  position:absolute;
  top: 20px;
  right: 10px;
}

.subTab {
  background-color: white;
  border: 1px solid lightgray;
  position: fixed;
  width: 100px;
  font-size: 13px;
  line-height: 30px;
  padding: 10px 13px;
  top: 49px;
}

.mini-menu:hover {
  color: rgb(165, 181, 189);
}

/* =============================================================

                          HOME

=============================================================*/

#header {
  position: absolute;
  top: 60px;
  max-height: 600px;
  height: 100%;
}

/* .square {
  width: 73%;
  height: 100%;
  background-color: #13113a;
}
 */
.slider {
  width: 73%;
  overflow: hidden;
  float: right;
}

.slides {
  //width: 80%;
  display: flex;
  overflow-x: auto;
}

.slide {
  width: 98%;
  height: 100%;
  max-height: 580px;
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 80%;
  height: 100%;
  max-height: 580px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
} 

.slider::before {
  background-color: #13113a;
  position: absolute;
  width: 73%;
  height: 100%;
}

.home-grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
  position: relative;
  top: 800px;
}

.main {
  background-color: aliceblue;
}

.side {
  background-color: beige;
}

/* =============================================================

                           BLOGS

=============================================================*/

.list-page {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}


/* =============================================================

                           POST CARD

=============================================================*/

.card {
  border-radius: 10px;
  display: inline-block;
  width: 290px;
  cursor: pointer;
  background-color: #f9f9ff;
  color: #71708a;
}

.card:hover {
  //box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.13);
  transition: all 0.4s ease 0s;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card:hover img {
  
}

.card .attach {
  width: 290px;
  height: 248.1px;
  overflow-y: hidden;
}

.card .attach img {
  width: 290px;
  border-radius: 10px;
}

.card .post {
  padding: 40px;
}

.card .post-title {
  font-weight: bold;
  font-size: 18px;
  color: #13113a;
}

.card .post-info, .post-bottom {
  display: flex;
  margin: 20px 0px;
}

.card .post-content {
  line-height: 1.2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  max-height: 75px;

  word-wrap: break-word;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.card .icon {
  font-size: 16px;
}

.card .more {
  color: #13113a;
}